html {
    font-family: arial,sans-serif;
    margin: 0;
}
body ul {
    list-style: none;
    display: flex;
}
li {
    margin: 0 5px 0 5px;
}
/* Navigation Bar */
nav {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 5px 5px 0 5px;

   
}



nav li {
    margin: 5px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.sign-in-button {
    background: linear-gradient(#4387fd,#4683ea);
    border: 1px solid #4285f4;
    padding: 7px 10px;
    color: white;
    font-weight: bold;
}

/* main */

main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-bar {
    display: flex;
    align-items: center;
    height: 44px;
    width: 500px;
    line-height: 34px;
    border-radius: 25px;
    border: solid 1px #dadce0;
    box-shadow: 10px black;
    padding-left: 20px;
    margin: 40px 0 20px 0;
}

.search-bar:hover {
    box-shadow: 0 0 1px 1px #c4c6c9;
}
main input {
    width: 90%;
    border: none;
    margin-left: 20px;
}

.material-icons {
    color:  #c4c6c9;
}

button {
    background-color: #f8f9fa;
    border: none;
    padding: 10px;
    font-size: 14px;
}

button:hover {
    border: solid 1px #c4c6c9;
    border-radius: 5px;
}

main div:nth-child(4) {
    font-size: 12px;
    
}

main a {
    text-decoration: none;
}


/* FOOTEr */

footer {
    position: absolute;
    bottom: 0px;
    margin-left: -10px;
    width: 100vw;
    background: #f2f2f2;
    color: #807ca3;
    
}

footer div:nth-child(1) {
   
    border: 1px solid #dadce0;
}

footer  div:nth-child(2) {
    display: flex;
    justify-content: space-between; 
    
   
    
    
}

.privacy-terms-settings {
    margin-right: 30px;
}

footer a {
    text-decoration: none;
    color: #807ca3;
}

footer a:hover {
    text-decoration: underline;
}





